<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="ExperienceProfileContactDataSourceQueries">
        <pipelines>
          <partnersummit-query>
            <processor type="PartnerSummitDemo.pipelines.querypipelines.GetPartnerSummitData, PartnerSummitDemo" />
          </partnersummit-query>
        </pipelines>
      </group>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <partnersummit>
            <processor type="PartnerSummitDemo.pipelines.contactviewpipelines.ConstructPartnerSummitDataTable, PartnerSummitDemo" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">partnersummit-query</param>
            </processor>
            <processor type="PartnerSummitDemo.pipelines.contactviewpipelines.PopulateWithPartnerSummitData, PartnerSummitDemo" />
          </partnersummit>
        </pipelines>
      </group>

      <PartnerSummitDataObservable.filter.inbound />

      <group groupName="analytics.aggregation">
        <pipelines>
          <interactions>
            <processor type="PartnerSummitDemo.Search.AnalyticsPartnerSummitDataAggregator, PartnerSummitDemo">
              <param desc="name">PartnerSummitDataObservable</param>
            </processor>
          </interactions>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>